<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../components/baselinks") -%>
</head>
<body>
  <%- include("../components/header") -%>
  <div class="container">
    <%- include("../components/alerts") -%>
    <h1>Your Order History</h1>
    <div class="table-responsive">
      <table id="historyTable" class="table table-striped table-bordered" cellspacing="0" width="99%">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Item Name</th>
            <th scope="col">Status</th>
            <th scope="col">Return By:</th>
          </tr>
        </thead>
        <tbody>
          <% if (response && response.transactions) {%>
          <% response.transactions.forEach((trans) => {%>
          <tr>
            <td><%= trans.createdAt.toLocaleString() %></td>
            <td><%= trans.item_name %></td>
            <td><%= trans.status %></td>
            <% if (trans.status === "inUse" || trans.status === "late") {%>
              <td><%= trans.return_date.toLocaleDateString() %></td>
            <% } %>
          </tr>
          <% }); %>
          <% } %>
        </tbody>
      </table>
      <% if (response && response.error) {%>
      <div class="alert alert-danger">
        <%= response.error%>
      </div>
      <% } %>
    </div>
  </div>
  <%- include("../components/scripts") -%>
  <script src="/static/js/history.js"></script>
</body>
</html>
